{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col-md-5">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}} </td>
      <td>{{user.email}}</td>

        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'users:edit_user' user.id  %}">
                Editar
            </a>

        </td>
        <td>
           <a class="btn btn-info btn-sm" href="{% url 'users:delete_user' user.id  %}">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
      </div>
    </div>
{% endblock %}