{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Prueba</title>
    {% block css %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">PRUEBA</a>
    </div>
  </nav>
      <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Bienvenido</h1>
    <!-- Portfolio Section -->

    <div class="row">
      <div>
        <a class="btn btn-primary" href="{% url 'users:create_user'%}">Crear Usuario</a>
        <a class="btn btn-success" href="{% url 'files:home'%}">Archivos</a>
        <a class="btn btn-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
    </div>
      <div class="col-lg-12">
        {% block content %}


        {% endblock %}

      </div>
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Desarrollado por <br> David Felipe González A</p>
    </div>
    <!-- /.container -->
  </footer>
  {% block js %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  {% endblock %}
</body>

</html>