{% extends 'base.html' %}
{% block content %}

    <div class="row">
      <div class="col-md-5">
          <br>
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
           <div class="control-group form-group">
            <div class="controls">
              {{form}}
            </div>
          </div>
          <button type="submit">Upload</button>
        </form>
          <br>
        <table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Leer</th>
        <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{file.document}}</td>

        <td>
            <a class="btn btn-primary btn-sm" href="{% url 'files:view_file' file.id  %}">
                Ver
            </a>

        </td>
        <td>
           <a class="btn btn-info btn-sm" href="{% url 'files:delete_file' file.id  %}">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
      </div>
    </div>
{% endblock %}